.cor1bg {
    background-color: #2D3B40;
}

.cor2bg {
    background-color: #197327;
}

.cor3bg {
    background-color: #1C8C2D;
}

.cor4bg {
    background-color: #B9D9C0;
}

.cor1txt {
    color: #2D3B40;
}

.cor2txt {
    color: #197327;
}

.cor3txt {
    color: #1C8C2D;
}

.cor4txt {
    color: #B9D9C0;
}

.formsCor {
    border: 2px solid #197327;
    box-shadow: 4px 4px 0 #197327;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;

    
}

.buttonCor {
    border: 2px solid #197327;
    box-shadow: 4px 4px 0 #197327;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    background: #B9D9C0;
    color: #197327;
    
}
body {
    background: linear-gradient(90deg, #fcfcfc 0%, #B9D9C0 100%);
    padding: 0;
  }