.cor1bg {
    background-color: #2D3B40;
}

.cor2bg {
    background-color: #197327;
}

.cor3bg {
    background-color: #1C8C2D;
}

.cor4bg {
    background-color: #B9D9C0;
}

.cor1txt {
    color: #2D3B40;
}

.cor2txt {
    color: #197327;
}

.cor3txt {
    color: #1C8C2D;
}

.cor4txt {
    color: #B9D9C0;
}


